/dist/
/release-dist/
/artifacts/

/assets
/assets-*/

/target/
/xtask/target/

/.vscode/
/.ruff_cache/
/.pytest_cache/
__pycache__/
*.py[cod]

/release.json
/release-assets.json
/release-assets-pages.json
